body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:501px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:88px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u0 {
  position:absolute;
  left:102px;
  top:17px;
  width:199px;
  height:40px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:129px;
  top:113px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:129px;
  top:218px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:129px;
  top:327px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:202px;
  top:57px;
  width:0px;
  height:0px;
}
#u8_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u8_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u8_seg2 {
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:19px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:202px;
  top:153px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u10_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u10_seg2 {
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:202px;
  top:258px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u12_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u12_seg2 {
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:63px;
}
#u14 {
  position:absolute;
  left:148px;
  top:444px;
  width:108px;
  height:63px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:104px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:63px;
}
#u16 {
  position:absolute;
  left:148px;
  top:588px;
  width:108px;
  height:63px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:104px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:129px;
  top:739px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:356px;
  top:456px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:202px;
  top:367px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u22_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u22_seg2 {
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:19px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:202px;
  top:507px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u24_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u24_seg2 {
  position:absolute;
  left:-9px;
  top:68px;
  width:18px;
  height:19px;
}
#u25 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:202px;
  top:651px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u26_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u26_seg2 {
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:19px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:256px;
  top:476px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u28_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u28_seg2 {
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:356px;
  top:600px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:256px;
  top:620px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u32_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u32_seg2 {
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:129px;
  top:848px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  background:inherit;
  background-color:rgba(91, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(91, 155, 213, 1);
  border-radius:73px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:129px;
  top:952px;
  width:145px;
  height:40px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:202px;
  top:779px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u38_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u38_seg2 {
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:202px;
  top:888px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u40_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u40_seg2 {
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u41 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
